.teste {
  color: #9a9a9a;
  font-size: 24px;
  vertical-align: middle;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fw7.pngwing.com%2Fpngs%2F648%2F554%2Fpng-transparent-computer-icons-search-and-rescue-photography-business-magnifier.png&tbnid=dxt4P2UBPuNVxM&vet=12ahUKEwijg7HF2qn-AhWoI7kGHYYYDGsQMygDegUIARDTAQ..i&imgrefurl=https%3A%2F%2Fwww.pngwing.com%2Fen%2Fsearch%3Fq%3Dsearch%2Bicon&docid=lCwRqy90FXy-jM&w=920&h=512&q=icon%20search%20png&ved=2ahUKEwijg7HF2qn-AhWoI7kGHYYYDGsQMygDegUIARDTAQ");
  margin-right: 20px;
}
