@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.img-container:hover {
  background: #2c2c2e;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.img-container:hover img {
  height: 200px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-container:hover .moveArrow {
  transform: translateX(45px);
  transition: all 0.3s ease-in-out;
}

.moveArrow:hover {
  animation: moveToRight 1s ease;
  animation-delay: 1000ms;
}

@keyframes moveToRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(0px);
  }
}

.img-goal1:hover .large-slash {
  transform: translateX(100px);
  transition: all 0.5s ease-in-out;
}

.img-goal1:hover h4 {
  transform: translateX(-30px);
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

.large-slash:hover {
  animation: moveToRight 1s ease;
  animation-delay: 1000ms;
}

@keyframes moveToRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

.blog-bg {
  background: linear-gradient(180deg, #3a3a3c 0%, #0b0b0b 101.48%);
  height: 540px;
}

.freight-bg {
  background: linear-gradient(213.8deg, #9a9a9a -17.86%, #0b0b0b 73%);
}

.rotate-package:hover img {
  transition: 500ms ease;
  transform: translate(0, -30px) rotate(80deg);
}

.rotate-dollar:hover img {
  transition: 500ms ease;
  transform: translate(0, -30px) rotate(-160deg);
}

.card-product .move-button-buy {
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.card-product:hover .move-button-buy {
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.move-button-buy:hover {
  animation: moveToDown 1s ease;
  animation-delay: 1000ms;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 45px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 20;
}
.btn::after {
  width: 50px;
  font-weight: bold;
  color: #ff9601;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top: -30px;
}

.btn:hover {
  color: #ff9601;
}

.speak {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  cursor: pointer;
}
